var data = <%=@data %>
var result = '';
data.forEach(function(e){
    result += '<tr><td><table>';
    result += '<tr><th>Name</th><td>' + e.name + '(' + e.age + ')' + '</td></tr>';
    result += '<tr><th>Mail</th><td>' + e.mail + '</td></tr>';
    result += '</table></td></tr>';
});
$('#result').html(result);