<h1>Ajax#index</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<p id="ajax">jQueryは動作していません</p>
<script>
    $('#ajax').text('jQueryは、動作しています！')
</script>